<!DOCTYPE html>
<html lang="en" ng-app="myImg">
   <head>
      <title>Video Player</title>
      <meta charset="utf-8" />
      <meta name="Description" content="Video viewer and player"/>
      <meta name="Keywords" content="Video viewer" />
      <meta name="Author" content="Brian Fogarty"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!-- Image Gallery Styling -->
      <link rel="stylesheet" href="style/image-style.css"/>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Lusitana|Merriweather" rel="stylesheet"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"/>
   </head>
<body style="background: #242426">
   <!-- Navigation bar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="#">New York</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="images.html">Images</a>
         </li>
         </ul>
      </div>
   </nav>
   
   <div class="row">
      <div class="col-lg-12 col-sm-12">
         <div class="carousel-inner">
            <img id="camera" src="images/gallery/camera-lens.jpg"/>
            <div class="carousel-caption">
               <h1 class="carousel-text" id="caption">Creative Digital</h1>
            </div>
         </div>
      </div>
   </div>
   
   <div class="container"  ng-controller="imgCtrl">
       <div class="row">
         <div class="col-lg-4 col-sm-12" ng-repeat="i in gallery | offset: currentPage*imagesPerPage | limitTo: imagesPerPage">
            <img src="images/gallery/{{i.title}}.jpg"/> 
         </div>
       </div>
      <div class="pagination">
         <ul>
            <li data-ng-class="prevPageDisabled()" data-ng-click="prevPage()">
               <a href="#" class="previous round">&#8249;</a>
            </li>
            <li data-ng-class="nextPageDisabled()" data-ng-click="nextPage()">
               <a href="#" class="next round">&#8250;</a>
            </li>
         </ul>
      </div>
   </div>
   
   <footer>
      <div class="footer">
         <h2 class="title">Brian Fogarty</h2>
         <p>Photography - Film maker - New York</p>
         <i class="fab fa-twitter"></i>
         <i class="fab fa-facebook-f"></i>
         <i class="fab fa-instagram"></i>
         <i class="far fa-envelope"></i>
         <p id="design">© Designed: bfogarty</p>
      </div>
   </footer>
   
   <!-- Angular JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
   <!-- Image Controller -->
   <script src="script/img-controller.js"></script>
   <!-- jQuery -->
   <script
   src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <!-- Bootstrap -->
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>