<!DOCTYPE html>
<html lang="en" ng-app="myApp">
   <head>
      <title>Video Player</title>
      <meta charset="utf-8" />
      <meta name="Description" content="Video viewer and player"/>
      <meta name="Keywords" content="Video viewer" />
      <meta name="Author" content="Brian Fogarty"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/style.css"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
      <!--<script src="framework/ui-bootstrap-tpls-2.5.0.js"></script>-->

   </head>
<body ng-controller="vidCtrl" style="background: #242426">
   <!-- Navigation bar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="#">Navbar</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
         </li>
         </ul>
      </div>
   </nav>
   
   <header>
   <!-- Carousel -->
   <div id="bg" class="carousel slide" data-ride="carousel">

      <ul class="carousel-indicators">
         <li data-target="#bg" data-slide-to="0" class="active"></li>
         <li data-target="#bg" data-slide-to="1"></li>
         <li data-target="#bg" data-slide-to="2"></li>
      </ul>

      <div class="carousel-inner">
         <div class="carousel-item active">
            <img src="images/bg-img.jpg" alt="Los Angeles">
         </div>
         <div class="carousel-item">
            <img src="images/bg-img2.jpg" alt="Chicago">
         </div>
         <div class="carousel-item">
            <img src="images/bg-img3.jpg" alt="New York">
         </div>
      </div>

      <a class="carousel-control-prev" href="#bg" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#bg" data-slide="next">
         <span class="carousel-control-next-icon"></span>
      </a>
      
      <h1 class="carousel-text" style="color: white">NEW YORK</h1>
   </div>
   </header>
   
   <!-- Video image cards -->
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-12 group" ng-repeat="i in images">
            <a href="#myModal" data-toggle="modal" ng-click="openVideo(i.src)"><img src="images/{{i.title}}.jpg"/></a>
            <div class="desc">
               <h3>{{i.vidTitle}}</h3>
               <p>{{i.desc}}</p>
            </div>
         </div>         
      </div>
   </div>
   
   
   <!-- Modal -->
   <div class="modal fade" id="myModal">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-body">
               <iframe width="560" height="315" id="firstVid" src="{{trustSrc(modalLink)}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>

   <footer>
      <div>
         <h2>Etiam veroeros lorem</h2>
         <p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis.</p>
      </div>
   </footer>
   
   
   <!-- Angular JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-sanitize.js"></script>
   
   <!-- jQuery -->
   <script
src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   
   <!-- Bootstrap -->
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   
   <!-- controller js -->
   <script src="script/controller.js"></script>
   <!-- modal jQuery -->
   <script src="script/modal.js"></script>
</body>
</html>
