<!DOCTYPE html>
<html lang="en" ng-app="myApp">
   <head>
      <title>Video Player</title>
      <meta charset="utf-8" />
      <meta name="Description" content="Video viewer and player"/>
      <meta name="Keywords" content="Video viewer" />
      <meta name="Author" content="Brian Fogarty"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/style.css"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
      <!--<script src="framework/ui-bootstrap-tpls-2.5.0.js"></script>-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-route.js"></script>
      <script
  src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-sanitize.js"></script>
      <script src="script/controller.js"></script>
      <script src="script/modal.js"></script>
   </head>
<body ng-controller="vidCtrl" style="background: #343538">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-12" ng-repeat="i in images">
            <a href="#myModal" data-toggle="modal" ng-click="openVideo(i.src)"><img src="images/{{i.title}}.jpg"/></a>
         </div>         
      </div>
   </div>
   
   
   <!-- Modal -->
   <div class="modal fade" id="myModal">
      <div class="modal-dialog">
         <div class="modal-body">
            <iframe width="560" height="315" id="firstVid" src="{{trustSrc(modalLink)}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>
      </div>
   </div>

   
</body>
</html>
