html, body {
   overflow-x: hidden;
}

img {
   width: 100%;
   max-height: 100%;
   border-radius: 5px 5px 0 0;
}

img:hover {
   cursor: pointer;
}

.modal-content iframe {
   margin: 0 auto;
   display: block;
}

.desc {
   text-align: center;
}

.group {
   color: #dedee8;
   margin-bottom: 2%;
}

.desc {
   background: #323235;
   padding-bottom: 1%;
}

.title {
   font-family: Merriweather;
   font-size: 1.5em;
   padding-top: 2%
}

.navbar {
   opacity: 0.9;
}

#bg {
   margin-bottom: 3%;
}

.carousel-item {
   max-height: 800px;
   height: auto;
}

.carousel-text {
   position: absolute;
   top: 44.5%;
   left: 37.5%;
   z-index: 20;
   font-family: Lusitana;
   font-size: 5em;
}

footer {
   color: white;
   text-align: center;
}

.footer {
   background: #1d1e21;
   height: 100%;
   padding: 1%;
   margin-top: 2%;
}

i {
   font-size: 1.3em;
   margin: 1%;
   padding: 0.5%;
}

#design {
   font-size: 80%;
}