<!-- Image Gallery Styling -->
<link rel="stylesheet" href="style/image-style.css"/>
<div ng-controller="imgCtrl">
   <!-- Navigation bar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" role="navigation">
     <a class="navbar-brand" href="#">New York</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="#/home">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#/gallery">Gallery</a>
         </li>         
         </ul>
      </div>
   </nav>
   
   <div class="row">
      <div class="col-lg-12 col-sm-12">
         <div class="carousel-inner">
            <img id="camera" src="images/gallery/camera-lens.jpg" alt="photo of camera"/>
            <div class="carousel-caption">
               <h1 class="carousel-text" id="caption">Creative Digital</h1>
            </div>
         </div>
      </div>
   </div>
   
   <div class="container" id="img-page">
       <div class="row">
         <div class="col-lg-4 col-sm-12" ng-repeat="i in gallery | offset: currentPage*imagesPerPage | limitTo: imagesPerPage track by $index">
            <a href="#view/{{i.file}}/{{i.title}}/{{i.desc}}/{{i.likes}}/{{i.uploaded}}/{{i.comments}}"><img src="images/gallery/{{i.file}}.jpg" alt="a list of cinematic photos"/></a>  
         </div>
       </div>
      <div class="pagination">
         <ul>
            <li data-ng-class="prevPageDisabled()" ng-click="prevPage()">
               <a href="" target="_self" class="previous round">&#8249;</a>
            </li>
            <li data-ng-class="nextPageDisabled()" ng-click="nextPage()">
               <a href="" target="_self" class="next round">&#8250;</a>
            </li>
         </ul>
      </div>
   </div>
   
   <footer>
      <div class="footer">
         <h2 class="title">Brian Fogarty</h2>
         <p>Photography - Film maker - New York</p>
         <i class="fab fa-twitter"></i>
         <i class="fab fa-facebook-f"></i>
         <i class="fab fa-instagram"></i>
         <i class="far fa-envelope"></i>
         <p id="design">© Designed: bfogarty</p>
      </div>
   </footer>

</div>