<!-- Styling -->
<link rel="stylesheet" href="style/style.css"/>
<div ng-controller="vidCtrl">
   <!-- Navigation bar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" role="navigation">
     <a class="navbar-brand" href="#">New York</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="#/home">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#/gallery">Gallery</a>
         </li>         
         </ul>
      </div>
   </nav>
   
   <header>
      <!-- Carousel -->
      <div id="bg" class="carousel slide" data-ride="carousel">

         <ul class="carousel-indicators">
            <li data-target="#bg" data-slide-to="0" class="active"></li>
            <li data-target="#bg" data-slide-to="1"></li>
            <li data-target="#bg" data-slide-to="2"></li>
         </ul>

         <div class="carousel-inner">
            <div class="carousel-item active">
               <img src="images/bg-img.jpg" alt="Los Angeles">
            </div>
            <div class="carousel-item">
               <img src="images/bg-img2.jpg" alt="Chicago">
            </div>
            <div class="carousel-item">
               <img src="images/bg-img3.jpg" alt="New York">
            </div>
            <div class="carousel-caption">
               <h1 class="carousel-text" style="color: white">NEW YORK</h1>
            </div>
         </div>

         <a class="carousel-control-prev" href="#bg" target="_self" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#bg" target="_self" data-slide="next">
            <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </header>
   
   <!-- Video image cards -->
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-12 group" ng-repeat="i in images">
            <div class="box">
               <a href="#myModal" target="_self" data-toggle="modal" ng-click="openVideo(i.src)"><img src="images/{{i.title}}.jpg" alt="Video poster image"/></a>
               <div class="desc">
                  <p class="title">{{i.vidTitle}}</p>
                  <p>{{i.desc}}</p>
               </div>
            </div>
         </div>         
      </div>
   </div>
   
   
   <!-- Modal -->
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="modal fade" id="myModal">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-body">
                     <iframe class="firstVid" src="{{trustSrc(modalLink)}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <footer>
      <div class="footer">
         <h2 class="title">Brian Fogarty</h2>
         <p>Photography - Film maker - New York</p>
         <i class="fab fa-twitter"></i>
         <i class="fab fa-facebook-f"></i>
         <i class="fab fa-instagram"></i>
         <i class="far fa-envelope"></i>
         <p id="design">© Designed: bfogarty</p>
      </div>
   </footer>
   <!-- modal jQuery -->
   <script src="script/modal.js"></script>
</div>

